header{
    border-style: double;
    border-width: 5px;
    width: 31%;
    height: 50px;
    border-left: none;
    border-right: none;
    color: red;
    background-color: #ffe4e1;  
    font-family: Tahoma;
}

#p {
    color: red;
}
.text>p{
    display: inline-block;
}

header>p{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 12px;
    font-family: Tahoma;
}

.text{
    font-family: Tahoma;
}
.week1{
    border: 3px solid blue;
    width: 450px;
    height: 150px;
    background-color: #e5e6fa;
    font-family: Tahoma;
    font-family: Tahoma;
}

.week1>h2{
    color: blue;
    text-align: center;
}
ul>li{
    margin-left: 40px;
}

#li3{
    color: red;
}


.week2{
    border: 3px solid blue;
    width: 450px;
    height: 150px;
    background-color: #e5e6fa;
    font-family: Tahoma;
    margin-top: 20px;
}

.week2>h2{
    color: blue;
    text-align: center;
}
.week2>ul>li{
    margin-left: 40px;
}

#li4{
    color: red;
}