body{
    margin: 0px;
}



li{
    text-decoration: none;
    display: inline-block;
    margin-top: 18px;
}

a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 15pt;
}

ul{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
}

.header{
    background-color: black ;
    width: 100%;
    height: 60px;
    margin: 0px;
    
}

.logo{
    order: 0;
    flex: 1;
    display: block;
    width: 200px;
    
}

.item{
    order: 1;
    margin-right: 30px;
}

.buttom1>a{
    padding: 5px 10px 5px 10px;
    background-color: #0080ff;
    border: royalblue solid 2px;
}

.buttom1{
    text-align: center;
    order: 2;
    margin-right: 30px;
}

.buttom2>a{
    padding: 5px 10px 5px 10px;
    border: royalblue solid 2px;
}

.buttom2{
    order: 3;
    margin-right: 20px;
}

.welcome{
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 30px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100% );
}

.welcome>h1{
    display: block;
    margin: 15px;
}

.welcome>p{
    font-weight: 200;
    font-style: italic;
    color: #000;
    margin: 0px;
}

.project{
    font-family: "Roboto", sans-serif;
    color: white;
    padding-top: 80px;
    font-size: 28px;
    margin-top: 0px;
    text-align: center;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    width: 100%;
    height: 950px;
}

.project>h2{
    display: block;
    font-weight: 700;
    margin: 0px;
    border-bottom: #FFFFFF solid 2px;
    max-width: 640px;
    margin: 0 auto 6rem auto;
}

.anh{
    width: 339px;
    height: 310px;
    background-color: #000;
    border: black solid 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

img{
    width: 340px;
    height: 240px;
}

.sp{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sp2{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button{
    margin-top: 45px;
    
}

.button>a{
    padding: 5px 10px 5px 10px;
    border: gray solid 2px;
    background-color: gray;
    border-radius: 3px;
}

.button :hover{
    background-color: red;
    border-radius: 3px;
}

.lienhe{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 30px;
    width: 100%;
    height: 400px;
    background-image: linear-gradient( 180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100% );
}

.lienhe>p{
    font-style: italic;
    font-weight: 200;
    margin-top: 0px;
}
.icon>a{
    font-size: 25px;
}

.icon>a>i{
   margin-top: 25px;
    margin-left: 15px;
}


footer{
    display: flex;
    font-size: 15pt;
    background-color: #000;
    width: 100%;
    height: 60px;
    justify-content: space-evenly;
    font-weight: 300;
}


footer>p{
    margin-left: 20px;
    order: 0;
    margin-top: 21px;
}

.footerSau{
    margin-left: 50px;
    order: 1;
    
}





